$phone: '(max-width: 600px)';
$tablet: '(min-width: 600px)';

$default-spacing: 10px;

// Colors
$white: #fff;
$black: #000;

// UI
$background: #000;
$primary-color: #49d598;
$blue: #054ad8;
$soft-blue: #95bfff;
$hover-blue: #061f80;

$light-gray: #8a8a8a;
$dark-gray: #3d3d3d;
