.use-case {
  position: relative;
  z-index: 1;
  // padding: 50px 50px 100px;
  display: flex;
  height: 100%;

  h3 {
    color: $white;
    margin-bottom: 0;
    opacity: 0;
  }

  h2 {
    font-size: 3.714rem;
    margin: 0;
    opacity: 0;
  }
}

.use-case__sidebar {
  flex: 1;
}

.use-case__content {
  flex: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.use-case__images {
  position: relative;
  width: 100%;
  flex: 5;
  display: flex;
  justify-content: center;
}

.use-case__sidebar__content {
  padding: 20px 160px 20px 0;
}

.sidebar-pod {
  color: $white;
  font-family: 'Maison-Book', Arial, sans-serif;
  padding-bottom: 50px;
  opacity: 0;

  h3 {
    color: $primary-color;
    font-size: 2.25rem;
    opacity: 1;
  }

  p {
    margin-top: 0;
    font-size: 1.75rem;
  }
}

.use-case__dots {
  display: flex;
  opacity: 0;
  padding-top: 30px;
  flex: 1;
  align-items: center;
}

.use-case__dot {
  width: 2.85rem;
  height: 2.85rem;
  border: 3px solid $white;
  transition: all 0.3s ease-out;
  border-radius: 1.4rem;
  margin-right: 1.4rem;
  background-color: transparent;

  &.active {
    background-color: white;
  }
}

.use-case__slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s ease-out;
  text-align: center;

  img {
    max-height: 90%;
    max-width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  &.active {
    transform: translateY(0);
    opacity: 1;
  }
}
