<div class="main-scene">
  <div class="scene-container">
    {{> slides/home }}
    {{> slides/one }}
    {{> slides/two }}
    {{> slides/three }}
    {{> slides/four }}
    {{> slides/five }}
    {{> slides/six }}
    {{> slides/seven }}

  </div>
</div>