<div class="slide slide-two">
  <div id="slide-two-bar-1" class="slide-bar">

  </div>
  <div id="slide-two-bar-2" class="slide-bar">

  </div>

  <div class="slide-two-content">
    <h2>Challenges of cloud adoption:</h2>
     <div class="slide-pods">
      <div class="slide-pod">
        <img src="./images/icons/server.svg"/>
        <div class="slide-pod__content"><div class="slide-pod-title">Leveraging existing infrastructure</div>Many businesses operate with legacy infrastructure that wasn’t built for cloud integration or applications.  </div>
      </div>

      <div class="slide-pod">
        <img src="./images/icons/apps.svg"/>
        <div class="slide-pod__content"><div class="slide-pod-title">Navigating operational inefficiencies</div>Legacy systems and processes were not designed to be agile. To move to the cloud, a business needs to streamline its management, deployment, and lifecycle policies.</div>
      </div>

      <div class="slide-pod">
        <img src="./images/icons/continuity.svg"/>
        <div class="slide-pod__content"><div class="slide-pod-title">Uncertainty around cost, security, and continuity</div>Migrating data and workflows to the cloud can bring significant financial and security risks.  </div>
      </div>

    </div>
  </div>
</div>