<div class="slide slide-fifteen">
  <div class="slide-fifteen-content">
    <div class="intro-slide-content">
      <div class="intro-slide__text">There’s more to this stage than waiting for a readout of results. <span class="bold">Much more.</span>
      </div>
    </div>
    <div class="nav-blocks">
      <div class="nav-block" data-index="16">
        <div class="nav-block__number">01</div>
        <div class="nav-block__title">IBM Power System AC922</div>
         <div class="nav-block__link">Learn more</div>
      </div>
      <div class="nav-block" data-index="18">
        <div class="nav-block__number">02</div>
        <div class="nav-block__title">IBM Watson Machine Learning</div>
         <div class="nav-block__link">Learn more</div>
      </div>
       <div class="nav-block" data-index="20">
        <div class="nav-block__number">03</div>
        <div class="nav-block__title">IBM Watson OpenScale</div>
         <div class="nav-block__link">Learn more</div>
      </div>
    </div>
  </div>
</div>