<div class="slide slide-four">
  <div id="slide-4-bar-1" class="slide-bar"></div>
  <div id="slide-4-bar-2" class="slide-bar"></div>
  <div class="slide-4-content">
    <h2>Worldwide hybrid cloud ecosystem</h2>
    <div class="slide-4-graphic">
      <div class="slide-4-section slide-4-section__left">
        <div class="slide-4-content__item"><div><span class="light">Over</span> 2,200 public and private data centers</div></div>
        <div class="slide-4-content__item"><div><span class="light">Over</span> 150,000 on-net buildings in North America, Europe, <span class="light">and</span> Asia</div></div>
      </div>
      <div class="slide-4-section__center">
        <img src="./images/slide-4.svg" class="globe-background" alt="Slide 4"/>
        <img src="./images/globe.gif" class="globe" alt="Globe"/>
      </div>
      <div class="slide-4-section slide-4-section__right">
        <div class="slide-4-content__item">AWS</div>
        <div class="slide-4-content__item">Microsoft Azure</div>
      </div>
    </div>
  </div>
</div>