<div class="slide slide-nine">
  <div class="slide-nine-content">
    <div class="intro-slide-content">
      <div class="intro-slide__text">There’s more to this stage than waiting for a readout of results. <span class="bold">Much more.</span>
      </div>
    </div>
    <div class="nav-blocks">
      <div class="nav-block" data-index="10">
        <div class="nav-block__number">01</div>
        <div class="nav-block__title">IBM Power System AC922</div>
      </div>
      <div class="nav-block" data-index="11">
        <div class="nav-block__number">02</div>
        <div class="nav-block__title">IBM Watson Machine Learning</div>
      </div>
       <div class="nav-block" data-index="12">
        <div class="nav-block__number">03</div>
        <div class="nav-block__title">IBM Watson OpenScale</div>
      </div>
    </div>
  </div>
</div>