<div class="slide slide-one">
  <div class="slide-one-content">
    <div class="donut-content">
      <div class="donut-content__container">
        <div class="donut-content__header">82%</div>
        <div class="donut-content__text">of enterprise AI early adopters have seen a positive ROI on production-level
          projects.*</div>
      </div>
      <div class="attribution">* Deloitte's State of AI in the enterprise: 2nd Edition</div>
    </div>
    <div id="donut-chart">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 1017.7 1017.7" style="enable-background:new 0 0 1017.7 1017.7;" xml:space="preserve">

        <g id="background">
          <circle fill=none stroke=#3D3D3D stroke-width=4 stroke-miterlimit=10 cx="508.8" cy="508.8" r="492.8" />
        </g>

        <circle id="circle-graph" fill=none stroke=#054ad8 stroke-width=32 stroke-linecap=round stroke-miterlimit=10 cx="508.8" cy="508.8"
          r="492.8" />
        </g>
      </svg>

    </div>
  </div>
</div>