<div class="slide slide-six">
  <div class="slide-six-content">
    <div class="intro-slide-content">
      <div class="intro-slide__text">Training is compute- intensive and requires infrastructure that breaks performance and compute barriers.
      </div>
    </div>
    <div class="nav-blocks">
      <div class="nav-block" data-index="7">
        <div class="nav-block__number">01</div>
        <div class="nav-block__title">IBM Power System AC922</div>
      </div>
      <div class="nav-block" data-index="8">
        <div class="nav-block__number">02</div>
        <div class="nav-block__title">IBM Watson Machine Learning Accelerator</div>
      </div>
    </div>
  </div>
</div>