<div class="slide slide-ten">
  <div class="slide-ten-content">
    <div class="left-column__small">
      <div class="slide-title">
        <div class="slide-title__icon"><img src="./images/icons/interence-circle.svg" alt="Data Circle" /></div>
        <div class="slide-title__text">Inference</div>
      </div>
      <div class="slide-description__small">
        The IBM Power System AC922 enables you to do more than just train your AI models. Take action and use your AI
        models to derive insights.
      </div>
      <div class="slide-image"><img src="./images/AC922.png" alt="AC 922" /></div>

    </div>
    <div class="right-column">
      <div class="slider">
        <div class="body-copy ">
          You also need to score the model and capture its organizational value — so you can retrain and improve the
          existing model or build new ones. The IBM Power System AC922 enables you to take your trained AI models and
          deploy them into production, where you can derive greater insights.
        </div>
        <img src="./images/animation.gif"/>
      </div>
    </div>
  </div>
</div>