<div class="slide slide-thirteen">
  <div class="slide-thirteen-content">
    <div class="left-column__small">
      <div class="slide-title">
        <div class="slide-title__icon"><img src="./images/icons/slides/brain-data-circle-gray.svg" alt="Brain Circle" /></div>
      </div>
      <div class="slide-description__small">
        Make the most of your AI journey.
      </div>

    </div>
    <div class="right-column">
      <div class="slider">
        <div class="body-copy">
          <p class="sliding">At each phase of the AI workflow, it is necessary to have a combination of the right people, processes and
            infrastructure — the keys to successfully deploying AI across your entire business.</p>

          <p class="sliding">IBM has AI infrastructure that adapts to your organization’s changing business priorities, ensuring
            specific goals are achieved at every phase of the AI journey.</p>

          <p class="sliding">And now that you know what it takes to make the most of your AI journey, only one question remains:</p>

          <div class="get-started sliding">Are you ready to get started?</div>

          <div class="representative sliding">Talk to a representative today.</div>
        </div>
        
      </div>
    </div>
  </div>
</div>