<div class="slide slide-twelve">
  <div class="slide-twelve-content">
    <div class="left-column__small">
      <div class="slide-title">
        <div class="slide-title__icon"><img src="./images/icons/interence-circle.svg" alt="Data Circle" /></div>
        <div class="slide-title__text">Interence</div>
      </div>
      <div class="slide-description__small">
        The IBM Power System AC922 and a strong, scalable AI solution provide the stability your team needs to ensure
        success at this stage
      </div>

    </div>
    <div class="right-column">
      <div class="slider">
        <div class="slider-title sliding masked">IBM Watson OpenScale</div>
        <div class="body-copy sliding masked">
          Tracks and measures outcomes from AI across its lifecycle, and adapts and governs AI to changing business
          situations — for models built and running anywhere.
        </div>
        <div class="instruction sliding masked">Learn more about the benefits of IBM Watson OpenScale.</div>
        <div class="slider-icons">
          <div class="slider-icon" data-index="1">
            <img src="./images/icons/slides/measure-circle.svg" alt="Measure" />
            <div class="body-copy">Measure and track AI outcomes</div>
          </div>
          <div class="slider-icon" data-index="2">
            <img src="./images/icons/slides/refresh-circle.svg" alt="Refresh" />
            <div class="body-copy">Tune your AI for business</div>
          </div>
          <div class="slider-icon" data-index="3">
            <img src="./images/icons/slides/brain-circle.svg" alt="Brain" />
            <div class="body-copy">Govern and explain AI</div>
          </div>
        </div>

        <div class="slider-content">
          <div class="slider-content__item" data-index="1">
            <div class="body-copy">Maintain regulatory compliance by tracing and explaining AI decisions across
              workflows, and intelligently detect and correct bias to improve outcomes.</div>
          </div>
          <div class="slider-content__item" data-index="2">
            <div class="body-copy">Maintain regulatory compliance by tracing and explaining AI decisions across
              workflows, and intelligently detect and correct bias to improve outcomes.</div>

          </div>
          <div class="slider-content__item" data-index="3">
            <div class="body-copy">Maintain regulatory compliance by tracing and explaining AI decisions across
              workflows, and intelligently detect and correct bias to improve outcomes.</div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>