<div class="slide slide-five slide-covered">
  <div class="network-partner">
    <div class="network-partner__sidebar">
      <div class="network-partner__sidebar__content">
        <h2 class="network-partner__header">CenturyLink as your partner</h2>
        <div class="network-partner__subheader">We work with you at every stage of your cloud journey.</div>
      </div>

    </div>
    <div class="network-partner__content">
      <div class="network-partner-pod">
        <img class="network-partner-icon" src="./images/icons/plan.svg"/>
        <div class="network-partner-title">Plan</div>
        <div class="network-partner-description">We review your existing technology and infrastructure and develop a roadmap for an environment that meets your unique specifications.</div>
      </div>

       <div class="network-partner-pod">
        <img class="network-partner-icon" src="./images/icons/build.svg"/>
        <div class="network-partner-title">Build</div>
        <div class="network-partner-description">Leveraging both CenturyLink and third-party solutions, we implement technology based on that roadmap to create a software-defined infrastructure that is 100% dedicated to you.</div>
      </div>

       <div class="network-partner-pod">
        <img class="network-partner-icon" src="./images/icons/run.svg"/>
        <div class="network-partner-title">Run</div>
        <div class="network-partner-description">As a trusted partner, we provide reliable, secure management of your IT technology—anything from a base managed infrastructure as a service to a fully managed solution.</div>
      </div>
    </div>
  </div>
</div>