<div class="slide slide-four">
  <div id="slide-four-bar-1" class="slide-bar"></div>
  <div class="slide-four-content">
    <h2>Applications without borders</h2>
    <p>Software-defined data centers (SDDCs) are virtualizing all the elements of traditional IT infrastructure and delivering them as a service.</p>
    <p>SDDCs provide:</p>





    <div class="slide-pods">
      <div class="slide-pod">
        <img src="./images/icons/hybridcloud.svg"/>
        <div class="slide-pod__content">Seamless cloud infrastructures with software-defined network and storage.</div>
      </div>

      <div class="slide-pod">
        <img src="./images/icons/apps.svg"/>
        <div class="slide-pod__content">Frictionless, intuitive experiences that let you choose where you want your applications to be.</div>
      </div>

      <div class="slide-pod">
        <img src="./images/icons/flexibility.svg"/>
        <div class="slide-pod__content">Flexible workload capacity that scales to meet your specific needs.</div>
      </div>
    </div>
  </div>

  <div class="slide-four-image">
    <img src="./images/slide4/slide4.gif"/>
  </div>
</div>