<div class="slide slide-four">
  <div id="slide-four-bar-1" class="slide-bar"></div>
  <div id="slide-four-bar-2" class="slide-bar"></div>
  <div class="slide-four-content">
    <h2>Worldwide hybrid cloud ecosystem</h2>
    <div class="slide-four-graphic">
      <div class="slide-four-section slide-four-section__left">
        <div class="slide-four-content__item"><div><span class="light">Over</span> 2,200 third party data centers</div></div>
        <div class="slide-four-content__item"><div><span class="light">Over</span> 150,000 on-net buildings in North America, Europe, <span class="light">and</span> Asia</div></div>
      </div>
      <div class="slide-four-section__center">
        <img src="./images/slide-4.svg" class="globe-background" alt="Slide 4"/>
        <img src="./images/globe.gif" class="globe" alt="Globe"/>
      </div>
      <div class="slide-four-section slide-four-section__right">
        <div class="slide-four-content__item">AWS</div>
        <div class="slide-four-content__item">Microsoft Azure</div>
      </div>
    </div>
  </div>
</div>