<div class="slide slide-three">
  <div id="slide-three-bar-1" class="slide-bar">

  </div>
  <div id="slide-three-bar-2" class="slide-bar">

  </div>

  <div class="slide-three-content">
    <h2>VMC on AWS powered by CenturyLink delivers</h2>
    <div class="network-grid">
      <div class="network-grid__item">
        <div class="cube">
          <div class="side front">
            <img class="large-icon" src="./images/icons/speed.svg"/>
            <div class="card-title">Accelerated Innovation</div>
          </div>
          <div class="side right">
            <img src="./images/icons/close.svg" class="card-close"/>
            <div class="card-subtitle">Accelerated Innovation</div>
            Experience seamless network connectivity to your clouds and data centers on a global scale. Integration between VMware software and native AWS services lets you innovate faster.
          </div>
        </div>
      </div>
      <div class="network-grid__item">
        <div class="cube">
          <div class="side front">
            <img class="large-icon" src="./images/icons/power.svg"/>
            <div class="card-title">Simplified Operations</div>
          </div>
          <div class="side right">
            <img src="./images/icons/close.svg" class="card-close"/>
            <div class="card-subtitle">Simplified Operations</div>
           Run diverse workloads seamlessly on-premise and in the cloud in VMware environments, with no need to retrain your staff on new tools and processes.
          </div>
        </div>
      </div>
      <div class="network-grid__item">
        <div class="cube">
          <div class="side front">
            <img class="large-icon" src="./images/icons/flexibility.svg"/>
            <div class="card-title">Enhanced Availability</div>
          </div>
          <div class="side right">
            <img src="./images/icons/close.svg" class="card-close"/>
            <div class="card-subtitle">Enhanced Availability</div>
            Integrate your on-premise VMware environment with AWS across CenturyLink’s reliable global network.
          </div>
        </div>
      </div>
      <div class="network-grid__item">
        <div class="cube">
          <div class="side front">
            <img class="large-icon" src="./images/icons/apps.svg"/>
            <div class="card-title">Operational Consistency</div>
          </div>
          <div class="side right">
            <img src="./images/icons/close.svg" class="card-close"/>
            <div class="card-subtitle">Operational Consistency</div>
            Leverage your existing VMware investments—without the need for new licenses—to create a consistent hybrid IT environment on AWS.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>