<div class="slide slide-two">
  <div id="slide-two-bar-1" class="slide-bar">

  </div>
  <div id="slide-two-bar-2" class="slide-bar">

  </div>

  <div class="slide-two-content">
    <h2>The challenges of moving to hybrid cloud</h2>
    <p>Are you struggling to overcome either (or both) of these common hurdles?</p>
     <div class="slide-pods">
      <div class="slide-pod">
        <img src="./images/icons/network.svg"/>
        <div class="slide-pod__content"><div class="slide-pod-title">Incongruent Networks.</div>Operational inconsistencies between on-premises and cloud environments that require costly, complex optimization strategies.</div>
      </div>

      <div class="slide-pod">
        <img src="./images/icons/server.svg"/>
        <div class="slide-pod__content"><div class="slide-pod-title">Multiple Virtual Machine (VM) Formats.</div>Struggling to seamlessly move workloads between environments with different VM formats/hypervisors.</div>
      </div>
    </div>
  </div>
</div>