<div class="slide slide-six slide-covered">
  <div class="use-case">
    <div class="use-case__sidebar">
      <h3 class="use-case__header">Use case:</h3>
      <h2 class="use-case__subheader">Disaster recovery</h2>
      <div class="use-case__sidebar__content">
        <div class="sidebar-pod">
          <h3>Fast Provisioning</h3>
          <p>Real-time creation of Ethernet connections to data centers and clouds for failover protection and recovery.</p>
        </div>

        <div class="sidebar-pod">
          <h3>Pay-As-You-Go</h3>
          <p>Instant cost calculation for circuits based on time and speed.</p>
        </div>

        <div class="sidebar-pod">
          <h3>Secure Connection</h3>
          <p>Private connection meets compliance requirements for sensitive data. </p>
        </div>
      </div>


    </div>
    <div class="use-case__content">
      <div class="use-case__images">
        <div class="use-case__slide active">
          <img src="./images/slide6/1.png"/>
        </div>
        <div class="use-case__slide">
          <img src="./images/slide6/2.gif"/>
        </div>
        <div class="use-case__slide">
          <img src="./images/slide6/3.gif"/>
        </div>
      </div>

       <div class="use-case__dots">
        <div class="use-case__dot active" data-index="0"></div>
        <div class="use-case__dot" data-index="1"></div>
        <div class="use-case__dot" data-index="2"></div>
      </div>
    </div>
  </div>
</div>