<div class="slide slide-five slide-covered">
  <div id="slide-five-bar-1" class="slide-bar">

  </div>
  <div id="slide-five-bar-2" class="slide-bar">

  </div>

  <div class="slide-five-content">
    <h2 class="network-partner__header">Your network matters</h2>
    <div class="network-partner__subheader">CenturyLink delivers secure, high-performance, virtualized networking
      functionality to leading public and private clouds.</div>

    <div class="slide-five__container">
      <div class="slide-five__column">
        <img class="slide-five-icon" id="building" src='./images/slide5/building.svg' />
        <img class="slide-five-icon" id="home" src='./images/slide5/home.svg' />
        <img class="slide-five-icon" id="database" src='./images/slide5/database.svg' />
        <img class="slide-five-icon" id="direction" src='./images/slide5/direction.svg' />
        <img class="slide-five-icon" id="city" src='./images/slide5/city.svg' />
        <img class="slide-five-icon" id="hq" src='./images/slide5/hq.svg' />
        <div class="circle"></div>
        <div class="green-line"></div>

      </div>
      <div class="slide-five__column">
        <div class="cloud-green">
          <div class="cloud-green__content">
            <img class="cl_logo" src="./images/slide5/cl_logo.svg" />
            <p class="">Cloud Connect Solutions</p>
          </div>
          <img class="cloud" src="./images/slide5/cloud_green.svg" />
        </div>
      </div>
      <div class="slide-five__column">
        <div class="cloud-gray">
          <img class="logo" id="aws" src='./images/slide5/aws.svg' />
          <img class="logo" id="azure" src='./images/slide5/azure.svg' />
          <img class="logo" id="google" src='./images/slide5/google_cloud.svg' />
          <img class="logo" id="ibm" src='./images/slide5/ibm.svg' />
          <img class="logo" id="oracle" src='./images/slide5/oracle.svg' />
          <img class="cloud" src="./images/slide5/cloud_gray.svg" />
        </div>
      </div>
    </div>
  </div>
</div>