<div class="slide slide-four slide-covered">
  <div class="slide-four-content">
    <div>
    <h2>What challenges are you facing?</h2>
    <div class="network-grid">
      <div class="network-grid__item">
        <div class="cube">
          <div class="side front">
            <img class="large-icon" src="./images/icons/handshake.svg"/>
            <div class="card-title">Predictable, Reliable Performance</div>
          </div>
          <div class="side right">
            <div class="card-subtitle">Predictable, Reliable Performance</div>
            <img src="./images/icons/close.svg" class="card-close"/>
            Allows you to maintain control over end-to-end application performance as they’re migrated to private and public clouds.
          </div>
        </div>
      </div>
      <div class="network-grid__item">
        <div class="cube">
          <div class="side front">
            <img class="large-icon" src="./images/icons/hostedsecurity.svg"/>
            <div class="card-title">Simplified Security</div>
          </div>
          <div class="side right">
            <div class="card-subtitle">Simplified Security</div>
            <img src="./images/icons/close.svg" class="card-close"/>
            Private connectivity keeps the applications you migrate and optimize within your trusted perimeter.         
          </div>
        </div>
      </div>
      <div class="network-grid__item">
        <div class="cube">
          <div class="side front">
            <img class="large-icon" src="./images/icons/lifecycle.svg"/>
            <div class="card-title">Dynamic Agility</div>
          </div>
          <div class="side right">
            <div class="card-subtitle">Dynamic Agility</div>
            <img src="./images/icons/close.svg" class="card-close"/>
            Experience self-service connectivity and increased visibility with CenturyLink tools like Dynamic Capacity, Enhanced Management, and Dynamic Connections. 
          </div>
        </div>
      </div>
      <div class="network-grid__item">
        <div class="cube">
          <div class="side front">
            <img class="large-icon" src="./images/icons/data.svg"/>
            <div class="card-title">Global Connectivity</div>
          </div>
          <div class="side right">
            <div class="card-subtitle">Global Connectivity</div>
            <img src="./images/icons/close.svg" class="card-close"/>
            Connect locations that need to run mission critical applications to cloud and data centers across the world – in North America, Europe, Latin America, and Asian Pacific.
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>