
<div class="slide slide-seven">
  <div id="slide-seven-bar-1" class="slide-bar">

  </div>
  <div id="slide-seven-bar-2" class="slide-bar">

  </div>

  <div class="slide-seven-content">
    <h2>Why CenturyLink Cloud Connect Solutions?</h2>
    <div class="rows">
      <div class="row">
        <img src="./images/icons/data.svg" class="row-image"/>
        <div class="row-content"><span class="bold">Connectivity:</span> Extensive Wavelength, Ethernet Services, and IP VPN connectivity options for most major cloud service providers*</div>
      </div>

     
     <div class="row">
        <img src="./images/icons/cloud.svg" class="row-image"/>
        <div class="row-content"><span class="bold">Hybrid Cloud Ecosystem:</span> Over 360 CenturyLink data centers, 2,200+ third-party data centers, and 150,000 buildings</div>
      </div>

     <div class="row">
        <img src="./images/icons/laptop.svg" class="row-image"/>
         
        <div class="row-content"><span class="bold">Direct IP Peering:</span> Better SaaS-based application performance via private interlinks through CenturyLink Internet Services</div>
      </div>

    <div class="row">
        <img src="./images/icons/sap.svg" class="row-image"/>
         
        <div class="row-content"><span class="bold">SDN Integration:</span> Self-service via Dynamic Capacity on-demand, increased visibility with Enhanced Management, and available Dynamic Connections offerings</div>
      </div>
    </div>
    </div>

</div>