<div class="slide slide-two">
  <div id="slide-two-bar-1" class="slide-bar">

  </div>
  <div id="slide-two-bar-2" class="slide-bar">

  </div>

  <div class="slide-two-content">
    <h2>Moving to the cloud <br/>provides enterprises with significant benefits…</h2>
    <div class="rows">
      <div class="row">
        <img src="./images/icons/lifecycle.svg" class="row-image"/>
        <div class="row-content"><span class="bold">Flexibility:</span> The ability to scale up and down to meet ever-changing demands.</div>
      </div>

     
     <div class="row">
        <img src="./images/icons/help.svg" class="row-image"/>
        <div class="row-content"><span class="bold">Peace of Mind:</span> A lost device doesn’t mean lost data—your data is stored remotely and accessible from anywhere.</div>
      </div>

     <div class="row">
        <img src="./images/icons/billing.svg" class="row-image"/>
        <div class="row-content"><span class="bold">Cost Efficiency:</span> Reducing costs associated with traditional computing and data storage will create opportunities for investment in strategic initiatives that drive your business forward.</div>
      </div>

    <div class="row">
        <img src="./images/icons/private.svg" class="row-image"/>
        <div class="row-content"><span class="bold">Accessibility:</span> Employees can work from anywhere that there’s an Internet connection.</div>
      </div>
    </div>
    </div>

</div>