.slide-one-content {
  display: flex;
  height: 100%;
}

.donut-content {
  @include column(8/16);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px 0 100px 65px;

  .attribution {
    opacity: 0;
  }
}

.donut-content__container {
  @include column(6/8);
  flex: 1;
}

.donut-content__header {
  color: white;
  font-family: 'IBM-Plex-Thin', Arial, sans-serif;
  font-size: 11.14rem;
  line-height: 11.14rem;
  opacity: 0;
}

.donut-content__text {
  color: white;
  font-family: 'IBM-Plex-Thin', Arial, sans-serif;
  font-size: 4.85rem;
  line-height: 5.57rem;
  opacity: 0;
}

#donut-chart {
  @include column(8/16);
  flex: 1;
  padding-top: 15%;
  padding-left: 5%;

  svg {
    transform: rotate(270deg);

    circle:first-child {
      stroke-width: 4;
      stroke: $dark-gray;
    }
  }
}
