.slide-one-content {
  position: absolute;
  right: 0;
  height: 100%;
  padding: 50px 70px;
  width: 46%;
  display: flex;
  flex-direction: column;
}

.network-grid {
  width: 450px;
  height: 450px;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.network-grid__item {
  position: relative;
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
  perspective: 2000px;
  perspective-origin: 50% 100px;

  .cube {
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.3s cubic-bezier(0.64, 0.16, 0.46, 1.16);

    &.turnt {
      transform: rotateY(-90deg);

      .right {
        background: #222 !important;
        border: 1px solid $primary-color;
      }

      .front {
        background: #111 !important;
      }
    }

    .right {
      transform: rotateY(-270deg) translateX(100px);
      transform-origin: top right;
      background: #111;
      transition: all 0.3s ease-out;
      font-family: 'Maison-Book', Arial, sans-serif;
      border: 1px solid transparent;
    }

    .front {
      transform: translateZ(100px);
      background: #222;
      transition: all 0.3s ease-out;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .side {
      padding: 20px;
      position: absolute;
      color: $white;
      width: 200px;
      height: 200px;

      .large-icon {
        width: 60%;
        margin: auto;
      }
    }

    .card-title {
      height: auto;
      width: auto;
      justify-self: flex-end;
    }
  }
}

.card-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
}
.card-subtitle {
  color: $primary-color;
  font-family: 'Maison-Bold', Arial, sans-serif;
  margin-bottom: 10px;
}
