.slide-one-content {
  display: flex;
  height: 100%;
  position: relative;
}

.donut-content {
  @include column(8/16);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px 0 100px 30px;

  .attribution {
    opacity: 0;
  }
}

.donut-content__container {
  @include column(11/20);
  flex: 1;
}

.donut-content__header {
  color: white;
  font-family: 'IBM-Plex-Thin', Arial, sans-serif;
  font-size: 11.14rem;
  line-height: 11.14rem;
  opacity: 0;
}

.donut-content__text {
  color: white;
  font-family: 'IBM-Plex-Thin', Arial, sans-serif;
  font-size: 4.85rem;
  line-height: 5.57rem;
  opacity: 0;
}

#donut-chart {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50vw;
  height: 100vh;
  overflow: visible;
  padding-top: 13%;
  padding-left: 8%;
  flex: 1;

  &.filled #circle-graph {
    stroke-dasharray: 3460;
    stroke-dashoffset: 6460;
  }

  #circle-graph {
    stroke-dasharray: 3500;
    stroke-dashoffset: 3500;
    transition: all 0.8s ease-out;
  }

  svg {
    width: 985px;
    height: 985px;
    transform: rotate(-145deg);
  }

}
