.slide-ten {

  
  video {
    opacity: 0;
    transform: translateY(30px);
    padding-top: 50px;
  }

  .body-copy {
    transform: translateY(30px);
    opacity: 0;
  }

  .slide-description__small {
    @include column(14/16);
  }
}