<div class="slide slide-home slide-covered">
  <div class="home-content">
    <div class="home-content__header">Cloud Connect</div>
    <div class="home-content__main-title">CenturyLink<sup>&reg;</sup> Cloud Connect Solutions</div>
    <div class="home-content__subheader">A network experience to match your cloud experience</div>
    <div class="get-started button">Get Started</div>
  </div>
</div>