<div class="slide slide-one slide-covered">
<div class="slide-one__content">
  <h1>Cloud adoption <br/>is mainstream</h1>
  <div class="slide-one__subhead">Many enterprises consider it a critical <br/>part of their digital transformation.<br/><br/>Where are you on your cloud journey?</div>
  </div>
</div>