<div class="slide slide-six slide-covered">
  <div class="network-partner">
    <div class="network-partner__sidebar">
      <div class="network-partner__sidebar__content">
        <h2 class="network-partner__header">CenturyLink Cloud Connect SDN Solutions</h2>
        <div class="network-partner__subheader">Our technology offers self-service capabilities that provide better traffic visibility, flexibility, and management of your Ethernet Virtual Circuits (EVCs). </div>
      </div>

    </div>
    <div class="network-partner__content">
      <div class="network-partner-pod">
        <img class="network-partner-icon" src="./images/slide6/node.svg"/>
        <div class="network-partner-title">Dynamic Connections</div>
        <div class="network-partner-description">Immediately add or remove Ethernet services to cloud and data center environments via a self-service portal or API integration</div>
      </div>

       <div class="network-partner-pod">
        <img class="network-partner-icon" src="./images/slide6/wave.svg"/>
        <div class="network-partner-title">Dynamic Capacity</div>
        <div class="network-partner-description">Address fluctuating traffic demands with real-time scheduled or automated EVC bandwidth adjustments </div>
      </div>

       <div class="network-partner-pod">
        <img class="network-partner-icon" src="./images/slide6/document.svg"/>
        <div class="network-partner-title">Enhanced Management</div>
        <div class="network-partner-description">Plan, troubleshoot, and fine-tune your network for optimal performance with real-time end-to-end visibility of network performance metrics</div>
      </div>
    </div>
  </div>
</div>