<div class="slide slide-three">
  <div id="slide-three-bar-1" class="slide-bar">

  </div>
  <div id="slide-three-bar-2" class="slide-bar">

  </div>

  <div class="slide-three-content">
    <h2>…but cloud adoption <br/>also presents significant challenges</h2>
    <div class="network-grid">
      <div class="network-grid__item">
        <div class="cube">
          <div class="side front">
            <img class="large-icon" src="./images/icons/efficiency.svg"/>
            <div class="card-title">Efficiency</div>
          </div>
          <div class="side right">
            <img src="./images/icons/close.svg" class="card-close"/>
            <div class="card-subtitle">Efficiency</div>
            Enterprises must consolidate and relocate data centers to meet new IT infrastructure needs and securely migrate workloads to the cloud.
          </div>
        </div>
      </div>
      <div class="network-grid__item">
        <div class="cube">
          <div class="side front">
            <img class="large-icon" src="./images/icons/security.svg"/>
            <div class="card-title">Security</div>
          </div>
          <div class="side right">
            <img src="./images/icons/close.svg" class="card-close"/>
            <div class="card-subtitle">Security</div>
           Securing data in the cloud, securing the network, and evolving compliance requirements is a significant challenge as enterprises adopt cloud strategies.
          </div>
        </div>
      </div>
      <div class="network-grid__item">
        <div class="cube">
          <div class="side front">
            <img class="large-icon" src="./images/icons/network.svg"/>
            <div class="card-title">Network Agility</div>
          </div>
          <div class="side right">
            <img src="./images/icons/close.svg" class="card-close"/>
            <div class="card-subtitle">Network Agility</div>
            Legacy static network architecture isn’t flexible enough to support today’s cloud and enterprise data center connectivity requirements.
          </div>
        </div>
      </div>
      <div class="network-grid__item">
        <div class="cube">
          <div class="side front">
            <img class="large-icon" src="./images/icons/cloud.svg"/>
            <div class="card-title">Cloud Access</div>
          </div>
          <div class="side right">
            <img src="./images/icons/close.svg" class="card-close"/>
            <div class="card-subtitle">Cloud Access</div>

           Moving from Internet-based usage to private connections in an organization’s WAN requires connectivity to the right cloud and network providers.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>