<div class="slide slide-eight">
  <div class="slide-eight-content">
    <div class="left-column__small">
      <div class="slide-title">
        <div class="slide-title__icon"><img src="./images/icons/data-circle.svg" alt="Data Circle" /></div>
        <div class="slide-title__text">Train</div>
      </div>
      <div class="slide-description__small">
        The IBM Power System AC922 and strong, scalable AI solutions provide the stability your team needs to ensure success at this stage
      </div>
    </div>
    <div class="right-column">
      <div class="slider">
        <div class="slider-title">IBM Watson Machine Learning Accelerator</div>
        <div class="body-copy">
          A complete environment for data science as a service, enabling your organization to bring AI applications into production. It combines popular open source deep learning frameworks, efficient AI development tools, and accelerated IBM Power Systems servers.
        </div>
        <div class="instruction">Learn more about the benefits of IBM Watson Machine Learning Accelerator.</div>
        <div class="slider-icons">
          <div class="slider-icon" data-index="1">
            <img src="./images/icons/slides/clock-circle.svg" alt="Clock" />
            <div class="body-copy">Enables rapid deep learning deployment</div>
          </div>

          <div class="slider-icon" data-index="2">
            <img src="./images/icons/slides/atom-circle.svg" alt="Atom" />
            <div class="body-copy">Supports larger, more accurate models</div>
          </div>

          <div class="slider-icon" data-index="3">
            <img src="./images/icons/slides/graph-circle.svg" alt="Graph" />
            <div class="body-copy">Delivers faster insights at scale</div>
          </div>

          <div class="slider-icon" data-index="4">
            <img src="./images/icons/slides/clipboard-circle.svg" alt="Clipboard" />
            <div class="body-copy">Business-ready and dependable</div>
          </div>
        </div>

        <div class="slider-content">
          <div class="slider-content__item" data-index="1">
            <div class="body-copy">Expand your deep learning deployment to multiple users and lines of business with multi-tenancy and role-based access controls. Protect them with end-to-end security.</div>
          </div>
          <div class="slider-content__item" data-index="2">
                       <div class="body-copy">Expand your deep learning deployment to multiple users and lines of business with multi-tenancy and role-based access controls. Protect them with end-to-end security.</div>

          </div>
          <div class="slider-content__item" data-index="3">
                        <div class="body-copy">Expand your deep learning deployment to multiple users and lines of business with multi-tenancy and role-based access controls. Protect them with end-to-end security.</div>

          </div>
          <div class="slider-content__item" data-index="4">
                        <div class="body-copy">Expand your deep learning deployment to multiple users and lines of business with multi-tenancy and role-based access controls. Protect them with end-to-end security.</div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>