<div class="slide slide-four">
  <div class="slide-four-content">
    <div class="left-column__small">
      <div class="slide-title">
        <div class="slide-title__icon"><img src="./images/icons/data-circle.svg" alt="Data Circle" /></div>
        <div class="slide-title__text">Data</div>
      </div>
      <div class="slide-description">
        Enter the IBM Power System LC922.
      </div>
      <div class="slide-image"><img src="./images/LC922.png" alt="LC 922" /></div>
    </div>
    <div class="right-column">
      <div class="slider">
        <div class="body-copy sliding ">
          The IBM Power System LC922 enables faster access to data and scaling efficiency with POWER9&trade; advanced IO
          architecture, including PCI Express (PCIe) 4.0 to help your enterprise turn new business insights into
          competitive advantages.
        </div>
        <div class="instruction sliding ">Learn more about the benefits of the IBM Power System LC922.</div>
        <div class="slider-icons">
          <div class="slider-icon" data-index="1">
            <img src="./images/icons/slides/chart-circle.svg" alt="Chart" />
            <div class="body-copy">Deliver faster insights</div>
          </div>

          <div class="slider-icon" data-index="2">
            <img src="./images/icons/slides/database-circle.svg" alt="Database" />
            <div class="body-copy">Drive efficiency</div>
          </div>

          <div class="slider-icon" data-index="3">
            <img src="./images/icons/slides/bulb-circle.svg" alt="Bulb" />
            <div class="body-copy">Tackle the growing </br>data challenge</div>
          </div>

          <div class="slider-icon" data-index="4">
            <img src="./images/icons/slides/atom-circle.svg" alt="Atom" />
            <div class="body-copy">Contain data growth</div>
          </div>
        </div>

        <div class="slider-content">
          <div class="slider-content__item" data-index="1">
            <div class="body-copy">Leverage POWER9 for industry-leading speed of insights, superior data throughput and vast </br>storage repositories.
            </div>
          </div>
          <div class="slider-content__item" data-index="2">
            <div class="body-copy">LC922 and LC921 are the industry’s first general purpose server designs with PCIe Gen
              4 technology, simplifying scaling by delivering twice the aggregate bandwidth as compared to PCIe Gen3.
            </div>
          </div>
          <div class="slider-content__item" data-index="3">
            <div class="body-copy">Deliver up to 120 TB of data storage with hybrid operations including HDD, SSD and NVMe for rapid access to mission-critical data.
            </div>
          </div>
          <div class="slider-content__item" data-index="4">
            <div class="body-copy">With up to 44 cores and twice more threads than its x86 competitors, the dense server design makes the challenge of containing the ever-growing compute requirements easier.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>