<div class="slide slide-home">
  <div class="home-content">
    <div class="left-column__large">
      <h1 id="home-header"></h1>
      <h3 id="home-subheader">With a strong foundation, you can deploy AI across your entire business.</h3>
    </div>
  </div>
</div>