<div class="slide menu">
  <div class="menu-content">
    <div class="menu-header">Pick a section to visit:</div>
    <div class="menu-items">
      <div class="menu-item" data-item="0">
        <div class="menu-item__number">1</div>
        <div class="menu-item__label">Overview</div>
      </div>
      <div class="menu-item" data-item="3">
        <div class="menu-item__number">2</div>
        <div class="menu-item__label">Data</div>
      </div>
      <div class="menu-item" data-item="6">
        <div class="menu-item__number">3</div>
        <div class="menu-item__label">Train</div>
      </div>
      <div class="menu-item" data-item="9">
        <div class="menu-item__number">4</div>
        <div class="menu-item__label">Inference</div>
      </div>
      <div class="menu-item" data-item="13">
        <div class="menu-item__number">5</div>
        <div class="menu-item__label">Get started</div>
      </div>
    </div>
  </div>
</div>