<div class="slide slide-one">
  <div id="slide-one-bar-1" class="slide-bar">

  </div>
  <div id="slide-one-bar-2" class="slide-bar">

  </div>

  <div class="slide-one-content">
    <h2>Delivering truly dynamic network abilities</h2>
    <div class="network-grid">
      <div class="network-grid__item">
        <div class="cube">
          <div class="side front">
            <img class="large-icon" src="./images/icons/gear.svg"/>
            <div class="card-title">Agility</div>
          </div>
          <div class="side right">
            <img src="./images/icons/close.svg" class="card-close"/>
            <div class="card-subtitle">Agility</div>
            Add and remove Ethernet services to cloud and data center environments in real-time via a self-service portal or API.
          </div>
        </div>
      </div>
      <div class="network-grid__item">
        <div class="cube">
          <div class="side front">
            <img class="large-icon" src="./images/icons/speed.svg"/>
            <div class="card-title">Performance</div>
          </div>
          <div class="side right">
            <img src="./images/icons/close.svg" class="card-close"/>
            <div class="card-subtitle">Performance</div>
           Control the end-to-end performance of applications and data while working in your hybrid cloud ecosystem.
          </div>
        </div>
      </div>
      <div class="network-grid__item">
        <div class="cube">
          <div class="side front">
            <img class="large-icon" src="./images/icons/bug.svg"/>
            <div class="card-title">Security</div>
          </div>
          <div class="side right">
            <img src="./images/icons/close.svg" class="card-close"/>
            <div class="card-subtitle">Security</div>
            As a private network, your connection is inherently secure with minimal exposure to external threats.
          </div>
        </div>
      </div>
      <div class="network-grid__item">
        <div class="cube">
          <div class="side front">
            <img class="large-icon" src="./images/icons/node.svg"/>
            <div class="card-title">Connectivity</div>
          </div>
          <div class="side right">
            <img src="./images/icons/close.svg" class="card-close"/>
            <div class="card-subtitle">Connectivity</div>
            Connect offices worldwide to the cloud and data center resources required to run mission-critical applications.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>