<div class="slide slide-seven">
  <div class="slide-seven-content">
    <div class="left-column__small">
      <div class="slide-title">
        <div class="slide-title__icon"><img src="./images/icons/data-circle.svg" alt="Data Circle" /></div>
        <div class="slide-title__text">Train</div>
      </div>
      <div class="slide-description__small">
        The IBM Power System AC922 is engineered to be the most powerful training platform for AI workloads
      </div>
      <div class="slide-image"><img src="./images/AC922.png" alt="AC 922" /></div>

    </div>
    <div class="right-column">
      <div class="slider">
        <div class="body-copy">
          Deploy data-intensive workloads, like deep learning frameworks and accelerated databases, with confidence. The IBM Power System AC922 enables the cutting-edge AI innovation data scientists desire while ensuring the dependability IT requires.
        </div>
        <div class="instruction">Learn more about the benefits of the IBM Power System AC922.</div>
        <div class="slider-icons">
          <div class="slider-icon" data-index="1">
            <img src="./images/icons/slides/gpu-circle.png" alt="GPU" />
            <div class="body-copy">Faster insights</div>
          </div>

          <div class="slider-icon" data-index="2">
            <img src="./images/icons/slides/server-circle.png" alt="Server" />
            <div class="body-copy">Flexible deployment</div>
          </div>

          <div class="slider-icon" data-index="3">
            <img src="./images/icons/slides/p9-circle.png" alt="Chip" />
            <div class="body-copy">Robust ecosystem</div>
          </div>

          <div class="slider-icon" data-index="4">
            <img src="./images/icons/slides/pcie-circle.png" alt="PCIE" />
            <div class="body-copy">Enterprise dependability</div>
          </div>
        </div>

        <div class="slider-content">
          <div class="slider-content__item" data-index="1">
            <div class="body-copy">Do AI your way. Build and train AI models, large or small, with deployment options including on-premises or in the cloud.</div>
          </div>
          <div class="slider-content__item" data-index="2">
                        <div class="body-copy">Do AI your way. Build and train AI models, large or small, with deployment options including on-premises or in the cloud.</div>

          </div>
          <div class="slider-content__item" data-index="3">
                        <div class="body-copy">Do AI your way. Build and train AI models, large or small, with deployment options including on-premises or in the cloud.</div>

          </div>
          <div class="slider-content__item" data-index="4">
                        <div class="body-copy">Do AI your way. Build and train AI models, large or small, with deployment options including on-premises or in the cloud.</div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>