<div class="slide slide-three">
  <h2>Click. Create. Connect.</h2>
  <h3>Data Center to Data Center</h3>
  <div id="animation">
    <video id="dot-animation" src="./video/dot_animation.mp4"></video>
    <div class="button watch-again">Watch again</div>
    {{!-- <div class="animation-circle" id="left-circle">
      <div class="circle-blip"></div>
      <div class="animation-icon-holder">
        <img class="db" src="./images/animation/building-db.svg"/>
        <img class="cloud" src="./images/animation/cloud.svg"/>
        <img class="hospital" src="./images/animation/hospital.svg"/>
      </div>
    </div>
    <img class="chip" id="chip1" src="./images/animation/chip.svg" alt='Chip'/>
    <img src="./images/animation/arrows.svg" id="arrow" alt="Arrows"/>
    <img class="chip" id="chip2" src="./images/animation/chip.svg" alt='Chip'/>
    <div class="animation-circle" id="right-circle">
      <div class="circle-blip"></div>
      <div class="animation-icon-holder">
        <img class="db" src="./images/animation/building-db.svg"/>
        <img class="cloud" src="./images/animation/cloud.svg"/>
        <img class="hospital" src="./images/animation/hospital.svg"/>
      </div>
    </div> --}}
  </div>
</div>