<div class="slide slide-three">
  <div class="slide-three-content">
    <div class="intro-slide-content">
      <div class="intro-slide__text">Data scientists spend nearly <span class="bold">2/3 of their time </span>simply cleaning and organizing data.*
        <div class="attribution">* https://taxandbusinessonline.villanova.edu/blog/the-talent-gap-in-data-analytics/</div>
      </div>
    </div>
    <div class="nav-blocks">
      <div class="nav-block" data-index="4">
        <div class="nav-block__number">01</div>
        <div class="nav-block__title">IBM Power System LC922</div>
        <div class="nav-block__link">Learn more</div>
      </div>
      <div class="nav-block" data-index="5">
        <div class="nav-block__number">02</div>
        <div class="nav-block__title">IBM Watson Studio (Cloud) <img src="./images/icons/avatar.png" alt="Avatar" />
        </div>
        <div class="nav-block__link">Learn more</div>
      </div>
    </div>
  </div>
</div>