<div class="slide slide-two">
  <div class="slide-two-content">
    <div class="left-column__small">
      <h4 class="sliding">That’s where IBM Power Systems comes in</h4>
      <div class="body-copy sliding">Traditional infrastructure can’t handle the demands of AI workloads. The AI
        lifecycle is
        complex and needs specific servers to support each stage of the AI lifecycle.</div>
      <div class="instruction sliding">Tap a stage to learn more.</div>
    </div>
    <div class="right-column">
      <div class="dot-imagery">
        <div class="dot-columns">
          <div class="dot-column" data-index="1">
            <div class="dot-column-title-container">
              <div class="dot-column-title">IBM Watson Studio (Cloud)</div>
            </div>
            <div class="dot-column-circle">
              <img src="./images/icons/data.svg" atl="Data" />
              <div class="dot-title">Data</div>
            </div>
          </div>
          <div class="dot-column__arrow">
            <img src="./images/icons/gray-arrow.svg" alt="Arrow" />
          </div>
          <div class="dot-column" data-index="2">
            <div class="dot-column-title-container">
              <div class="dot-column-title">Watson Machine Learning Accelerator</div>
              <div class="dot-column-title">Watson Machine Learning Community Edition (CE)</div>
            </div>
            <div class="dot-column-circle">
              <img src="./images/icons/train.svg" atl="Train" />
              <div class="dot-title">Train</div>

            </div>
          </div>
          <div class="dot-column__arrow">
            <img src="./images/icons/gray-arrow.svg" alt="Arrow" />
          </div>
          <div class="dot-column" data-index="3">
            <div class="dot-column-title-container">
              <div class="dot-column-title">Watson Machine Learning</div>
              <div class="dot-column-title">Watson OpenScale</div>
            </div>
            <div class="dot-column-circle">
              <img src="./images/icons/interence.svg" atl="Inference" />
              <div class="dot-title">Inference</div>

            </div>
          </div>
        </div>
        <div class="dot-columns-sections">
          <div class="dot-columns__row">
            <div class="dot-column-title col-1">IBM Power System LC922</div>
            <div class="dot-column-title col-2">IBM Power System AC922</div>
          </div>

          <div class="dot-columns__row">
            <div class="dot-column-title">Spectrum Scale Storage</div>
          </div>

          <div class="dot-columns__row">
            <div class="dot-column-title">IBM Cloud Pak</div>
          </div>
        </div>
      </div>
      <div class="dot-content">
        <div class="dot-content-detail" data-index="1">
          <div class="dot-content-detail__container">

            <div class="dot-content__image">
              <div>
                <img src="./images/AC922.png" alt="ac922" />
              </div>
            </div>
            <div class="dot-content__text">
              <div class="dot-content__title">Stage 1: Data</div>
              <div class="dot-content__description">
                <p>Machine Learning and Deep Learning algorithms are applied to your data
                  sets. These models, refined repeatedly, learn from the data that fuels them to unlock greater value.
                </p>
                <p>The IBM Power System AC922 provides the data and compute-intensive infrastructure needed for
                  building,
                  training and retraining AI models. This server is the powerhouse that delivers faster time to
                  insights.
                </p>
              </div>
              <div class="dot-content__link" data-index="3">Explore<img src="./images/icons/light-blue-arrow.svg" />
              </div>
            </div>
          </div>
        </div>

        <div class="dot-content-detail" data-index="2">
          <div class="dot-content-detail__container">

            <div class="dot-content__image">
              <div>
                <img src="./images/AC922.png" alt="ac922" />
              </div>
            </div>
            <div class="dot-content__text">
              <div class="dot-content__title">Stage 2: Train</div>
              <div class="dot-content__description">
                <p>Machine Learning and Deep Learning algorithms are applied to your data
                  sets. These models, refined repeatedly, learn from the data that fuels them to unlock greater value.
                </p>
                <p>The IBM Power System AC922 provides the data and compute-intensive infrastructure needed for
                  building,
                  training and retraining AI models. This server is the powerhouse that delivers faster time to
                  insights.
                </p>
              </div>
              <div class="dot-content__link" data-index="6">Explore<img src="./images/icons/light-blue-arrow.svg" />
              </div>
            </div>
          </div>
        </div>

        <div class="dot-content-detail" data-index="3">
          <div class="dot-content-detail__container">
            <div class="dot-content__image">
              <div>
                <img src="./images/AC922.png" alt="ac922" />
              </div>
            </div>
            <div class="dot-content__text">
              <div class="dot-content__title">Stage 3: Inference</div>
              <div class="dot-content__description">
                <p>Machine Learning and Deep Learning algorithms are applied to your data
                  sets. These models, refined repeatedly, learn from the data that fuels them to unlock greater value.
                </p>
                <p>The IBM Power System AC922 provides the data and compute-intensive infrastructure needed for
                  building,
                  training and retraining AI models. This server is the powerhouse that delivers faster time to
                  insights.
                </p>
              </div>
              <div class="dot-content__link" data-index="9">Explore<img src="./images/icons/light-blue-arrow.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>