<div class="slide slide-four">
  <div id="slide-four-bar-1" class="slide-bar">

  </div>
  <div id="slide-four-bar-2" class="slide-bar">

  </div>

  <div class="slide-four-content">
    <h2>Private Cloud in action</h2>
    <div class="network-grid">
      <div class="network-grid__item">
        <div class="cube">
          <div class="side front">
            <img class="large-icon" src="./images/icons/infrastructure.svg"/>
            <div class="card-title">Migration</div>
          </div>
          <div class="side right">
            <img src="./images/icons/close.svg" class="card-close"/>
            <div class="card-subtitle">Migration</div>
            An easy, direct, self-
            <br/>service migration path 
            <br/>for VMware solutions 
            <br/>originally deployed 
            <br/>in-house, with minimal 
            <br/>configuration required. 
          </div>
        </div>
      </div>
      <div class="network-grid__item">
        <div class="cube">
          <div class="side front">
            <img class="large-icon" src="./images/icons/security.svg"/>
            <div class="card-title">Prioritizing<br/> Security</div>
          </div>
          <div class="side right">
            <img src="./images/icons/close.svg" class="card-close"/>
            <div class="card-subtitle">Prioritizing Security</div>
           Every virtualized system can be assigned a separate VLAN, a critical consideration for industries and architectures with high security requirements.
          </div>
        </div>
      </div>
      <div class="network-grid__item">
        <div class="cube">
          <div class="side front">
            <img class="large-icon" src="./images/icons/microchip.svg"/>
            <div class="card-title">Controlling Data</div>
          </div>
          <div class="side right">
            <img src="./images/icons/close.svg" class="card-close"/>
            <div class="card-subtitle">Controlling Data</div>
            A secure private cloud solution that allows businesses to maintain complete control of their data while still providing the speed and flexibility today’s applications require.
          </div>
        </div>
      </div>
      <div class="network-grid__item">
        <div class="cube">
          <div class="side front">
            <img class="large-icon" src="./images/icons/server.svg"/>
            <div class="card-title">Leveraging Hybrid Architectures</div>
          </div>
          <div class="side right">
            <img src="./images/icons/close.svg" class="card-close"/>
            <div class="card-subtitle">Hybrid Architectures</div>
            Extend your private cloud environment by easily converting any cloud instance to a hybrid solution by connecting it with CenturyLink Private Cloud on VMware Cloud Foundation.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>