<div class="slide slide-two">
  <div id="slide-two-bar-1" class="slide-bar">

  </div>
  <div id="slide-two-bar-2" class="slide-bar">

  </div>

  <div class="slide-two-content">
    <h2>CenturyLink Private Cloud on VMware Cloud Foundation delivers:</h2>
    <div class="network-grid">
      <div class="network-grid__item">
        <div class="cube">
          <div class="side front">
            <img class="large-icon" src="./images/icons/lifecycle.svg"/>
            <div class="card-title">Self-Service Control</div>
          </div>
          <div class="side right">
            <img src="./images/icons/close.svg" class="card-close"/>
            A software-defined data center (SDDC) that enables full automation and self-service via vCloud Director and APIs; or, opt for a full-service approach from CenturyLink’s expert management teams.
          </div>
        </div>
      </div>
      <div class="network-grid__item">
        <div class="cube">
          <div class="side front">
            <img class="large-icon" src="./images/icons/switch.svg"/>
            <div class="card-title">Fast <br/>Deployment</div>
          </div>
          <div class="side right">
            <img src="./images/icons/close.svg" class="card-close"/>
           Virtualized systems can be deployed as needed with practically no downtime because of our hyperconverged infrastructure (HCI). Compute, network, storage, and security are available instantly.
          </div>
        </div>
      </div>
      <div class="network-grid__item">
        <div class="cube">
          <div class="side front">
            <img class="large-icon" src="./images/icons/cloudupload.svg"/>
            <div class="card-title">Hybrid Cloud Integration</div>
          </div>
          <div class="side right">
            <img src="./images/icons/close.svg" class="card-close"/>
            Existing workloads on CenturyLink Cloud and other cloud platforms can be easily integrated and managed through a single, powerful interface using Cloud Application Manager.
          </div>
        </div>
      </div>
      <div class="network-grid__item">
        <div class="cube">
          <div class="side front">
            <img class="large-icon" src="./images/icons/backup.svg"/>
            <div class="card-title">Seamless Migration</div>
          </div>
          <div class="side right">
            <img src="./images/icons/close.svg" class="card-close"/>
            Use vCloud Director for self-service migration of on-premise workloads to CenturyLink Private Cloud on VMware Cloud Foundation.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>