html {
  box-sizing: border-box;
  font-size: 8px;

  @media screen and (min-width: 1400px) {
    font-size: 14px;
  }
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Maison-Book', Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
  background: $background;
  margin: 0;
}
