.slide-pod {
  display: flex;
  align-items: center;
  padding: 1.42rem 0;
  opacity: 0;

  img {
    height: 9.285rem;
  }
}

.slide-pod__content {
  padding-left: 3.5rem;
}

.slide-pod-title {
  color: $primary-color;
  font-size: 2rem;
  font-family: 'Maison-Bold', Arial, sans-serif;
  padding-bottom: 0.714rem;
}
