<div class="slide slide-five">
  <div id="slide-five-bar-1" class="slide-bar">

  </div>
  <div id="slide-five-bar-2" class="slide-bar">

  </div>

  <div class="slide-five-content">
    <h2>Optimized, global solutions</h2>
    <p class="slide-five-subtitle">Milliseconds Matter.</p>
 <p>
CenturyLink offers direct connectivity to the world’s largest public and private cloud service providers, with a reliable level of quality in any location on any device.
</p>
    <div class="rows">
      <div class="row">
        <img src="./images/icons/earth.svg" class="row-image"/>
        <div class="row-content">Worldwide coverage across North America, Europe, Middle East, Africa, Latin America, and Asia Pacific</div>
      </div>

     
     <div class="row">
        <img src="./images/icons/building.svg" class="row-image"/>
        <div class="row-content">A global network of over 360 data centers </div>
      </div>

     <div class="row">
        <img src="./images/icons/data.svg" class="row-image"/>
        <div class="row-content">Scalability form a 4-node stack to multiple <br/>32-node stacks</div>
      </div>

    
    </div>
  </div>
</div>