<div class="slide slide-one slide-covered">
  <div class="slide-one-content">
    <div>
    <h2>Why organizations choose CenturyLink private cloud</h2>
    <div class="network-grid">
      <div class="network-grid__item">
        <div class="cube">
          <div class="side front">
            <img class="large-icon" src="./images/icons/lock.svg"/>
            <div class="card-title">Management, <br/>Automation, and <br/>Security</div>
          </div>
          <div class="side right">
            <div class="card-subtitle">Management, Automation, and Security</div>
            <img src="./images/icons/close.svg" class="card-close"/>
            <ul>
              <li>CenturyLink manages everything from the hypervisor to the physical infrastructure.</li>
              <li>Extensive APIs exposed to facilitate automation.</li>
              <li>Secure, discrete, dedicated endpoints for every customer.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="network-grid__item">
        <div class="cube">
          <div class="side front">
            <img class="large-icon" src="./images/icons/speed.svg"/>
            <div class="card-title">Speed, Power, and Flexibility</div>
          </div>
          <div class="side right">
            <div class="card-subtitle">Speed, Power, and Flexibility</div>
            <img src="./images/icons/close.svg" class="card-close"/>
            <ul>
              <li>Hyperconverged Infrastructure (HCI) with integrated vSAN storage with SSD drives.</li>
              <li>SDN with self-managed firewall, load balancers, VLAN creation, and multiple natting.</li>
              <li>Easily scalable from a 4-node stack to multiple 32-node stacks.</li>
            </ul>          
          </div>
        </div>
      </div>
      <div class="network-grid__item">
        <div class="cube">
          <div class="side front">
            <img class="large-icon" src="./images/icons/cloud.svg"/>
            <div class="card-title">Cloud Application Manager Integration</div>
          </div>
          <div class="side right">
            <div class="card-subtitle">Cloud Application Manager</div>
            <img src="./images/icons/close.svg" class="card-close"/>
            <ul>
              <li>Easily create hybrid solutions by interconnecting CenturyLink Private Cloud on VMware cloud Foundation to new or existing instances of other cloud platforms.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="network-grid__item">
        <div class="cube">
          <div class="side front">
            <img class="large-icon" src="./images/icons/eye.svg"/>
            <div class="card-title">Virtualization and Automation</div>
          </div>
          <div class="side right">
            <div class="card-subtitle">Virtualization and Automation</div>
            <img src="./images/icons/close.svg" class="card-close"/>
            <ul>
              <li>Software-defined data center (SDCC) capabilities.</li>
              <li>Self-service natting, firewalls, load balancing, replication, and migration.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>