<div class="slide slide-six slide-covered">
  <div class="network-partner">
    <div class="network-partner__sidebar">
      <div class="network-partner__sidebar__content">
        <h2 class="network-partner__header">Why CenturyLink?</h2>
      </div>

    </div>
    <div class="network-partner__content">
      <div class="network-partner-pod">
        <img class="network-partner-icon" src="./images/slide6/admin.svg"/>
        <div class="network-partner-title">Expertise</div>
        <div class="network-partner-description">Managed Services experts with decades of experience to lead your data center transformation.</div>
      </div>

       <div class="network-partner-pod">
        <img class="network-partner-icon" src="./images/slide6/tools.svg"/>
        <div class="network-partner-title">Customization</div>
        <div class="network-partner-description">Solutions customized to your workloads and the demands of your enterprise.</div>
      </div>

       <div class="network-partner-pod">
        <img class="network-partner-icon" src="./images/slide6/globe.svg"/>
        <div class="network-partner-title">Global Footprint</div>
        <div class="network-partner-description">38 hosting locations worldwide, all running on our reliable, world class CenturyLink Network.  </div>
      </div>
    </div>
  </div>
</div>