<div class="slide slide-three">
  <div id="slide-three-bar-1" class="slide-bar">

  </div>
  <div id="slide-three-bar-2" class="slide-bar">

  </div>

  <img class="slide-three-vmware" src="./images/slide3/vm.jpg" alt="VMware"/>

  <div class="slide-three-content">
    <h2>CenturyLink + VMware</h2>
    <p>CenturyLink’s collaboration with VMware combines VMware’s virtualization capabilities with CenturyLink’s  exceptional network reliability.</p>

    <div class="rows">
      <div class="row">
        <img src="./images/icons/earth.svg" class="row-image"/>
        <div class="row-content"><span class="bold">Worldwide availability</span>, with 31 hosting locations on <br/>four continents</div>
      </div>

     
     <div class="row">
        <img src="./images/icons/flexibility.svg" class="row-image"/>
        <div class="row-content">Improve application performance by up to <span class="bold">25%</span></div>
      </div>

     <div class="row">
        <img src="./images/icons/speed.svg" class="row-image"/>
        <div class="row-content"><span class="bold">Get to market up to 15x faster</span> through elimination of complex processes</div>
      </div>

    <div class="row">
        <img src="./images/icons/node.svg" class="row-image"/>
        <div class="row-content">Use SDDC technology with VMWare Cloud Foundation to lower TCO by <span class="bold">30-40%</span></div>
      </div>
    </div>
  </div>
</div>