.slide-four-content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  justify-content: space-around;

  h2 {
    opacity: 0;
    margin-top: 0;
  }

  .network-grid {
    margin: inherit;
    flex: auto;
  }

  .network-grid__item,
  .cube .side {
    width: 26rem;
    height: 26rem;
    .large-icon {
      width: 100%;
      max-width: 14.28rem;
      max-height: 13rem;
    }
  }

  .network-grid__item {
    margin-top: 0;
    margin-left: 0;
  }

  .cube .front {
    transform: translateZ(13rem);
  }

  .cube .right {
    transform: rotateY(-270deg) translateX(13rem);
    justify-content: unset;
  }

  .card-subtitle {
    padding-top: 2.85rem;
  }
}
