<div class="slide-navigation inactive">
  <div class="slide-navigation__indicator"></div>
  <div class="slide-navigation__items">
    {{!-- Content populated here from slideNavigation.js --}}
  </div>
</div>