<div class="slide-navigation">
  <div class="slide-navigation__items">
    <div class="slide-navigation__arrow arrow-left"><img src="images/icons/arrow-left.svg" alt="Left Arrow"/></div>
    <div class="slide-navigation__arrow arrow-right"><img src="images/icons/arrow-right.svg" alt="Right Arrow"/></div>
    <div class="slide-navigation__menu">Menu</div>
  </div>
</div>