<div class="slide-navigation">
  <div class="slide-navigation__indicator"></div>
  <div class="slide-navigation__items">
    <div class="slide-navigation__item" data-index="0">00</div>
    <div class="slide-navigation__item" data-index="1">01</div>
    <div class="slide-navigation__item" data-index="2">02</div>
    <div class="slide-navigation__item" data-index="3">03</div>
    <div class="slide-navigation__item" data-index="4">04</div>
    <div class="slide-navigation__item" data-index="5">05</div>
    <div class="slide-navigation__item" data-index="6">06</div>
    <div class="slide-navigation__item" data-index="7">07</div>
  </div>
  <img class="slide-navigation__logo" alt="CenturyLink Logo" src="../images/corp_logo.svg"/>
</div>