<div class="slide-navigation inactive">
  <div class="slide-navigation__indicator"></div>
  <div class="slide-navigation__items">
    {{!-- Content populated here from slideNavigation.js --}}
  </div>
  <img class="slide-navigation__logo" alt="CenturyLink Logo" src="./images/corp_logo.svg"/>
</div>