#slide-two-bar-1 {
  left: 0;
}

#slide-two-bar-2 {
  right: 0;
}

.slide-two-content {
  position: absolute;
  right: 0;
  height: 100%;
  padding: 0 8.5rem 8rem;
  width: 46%;
  display: flex;
  flex-direction: column;
}

.network-grid {
  display: flex;
  flex: 1;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  padding-bottom: 50px;
}

.network-grid__item {
  position: relative;
  width: 20rem;
  height: 20rem;
  margin-right: 1.4rem;
  margin-bottom: 1.4rem;
  float: left;
  perspective: 2000px;
  perspective-origin: 50% 100px;

  .cube {
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.3s cubic-bezier(0.64, 0.16, 0.46, 1.16);

    &.turnt {
      transform: rotateY(-90deg);

      .right {
        background: #222 !important;
        border: 1px solid $primary-color;
      }

      .front {
        background: #111 !important;
      }
    }

    .right {
      transform: rotateY(-270deg) translateX(10rem);
      transform-origin: top right;
      background: #111;
      transition: all 0.3s ease-out;
      font-family: 'Maison-Book', Arial, sans-serif;
      font-size: 1.666rem;
      border: 1px solid transparent;
    }

    .front {
      transform: translateZ(10rem);
      background: #222;
      transition: all 0.3s ease-out;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .side {
      padding: 1.4rem;
      position: absolute;
      color: $white;
      width: 20rem;
      height: 20rem;

      .large-icon {
        width: 60%;
        margin: auto;
      }
    }

    .card-title {
      font-size: 2rem;
      height: auto;
      width: auto;
      justify-self: flex-end;
    }
  }
}

.card-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
}

.card-subtitle {
  color: $primary-color;
  font-family: 'Maison-Bold', Arial, sans-serif;
  margin-bottom: 10px;
}
