<div class="slide slide-seven slide-covered">
  <div class="use-case">
    <div class="use-case__sidebar">
      <h3 class="use-case__header">Use case:</h3>
      <h2 class="use-case__subheader">Keeping up with seasonal and event-driven demand</h2>
      <div class="use-case__sidebar__content">
        <div class="sidebar-pod">
          <h3>Fast Provisioning</h3>
          <p>Real-time connectivity augments seasonal network, cloud, and processing capacity that quickly scales to meet changing demands.</p>
        </div>

        <div class="sidebar-pod">
          <h3>Pay-As-You-Go</h3>
          <p>On-demand network, data center, and cloud connections that are billed hourly with no long-term contract or termination fees.</p>
        </div>

        <div class="sidebar-pod">
          <h3>Secure Connection</h3>
          <p>Private connection meets security <br/>requirements for sensitive data.</p>
        </div>
      </div>

     

    </div>
    <div class="use-case__content">
      <div class="use-case__images">
      <div class="use-case__slide active">
        <img src="./images/slide7/1.png"/>
      </div>
       <div class="use-case__slide">
        <img src="./images/slide7/2.gif"/>
      </div>
       <div class="use-case__slide">
        <img src="./images/slide7/3.gif"/>
      </div>
      </div>

       <div class="use-case__dots">
        <div class="use-case__dot active" data-index="0"></div>
        <div class="use-case__dot" data-index="1"></div>
        <div class="use-case__dot" data-index="2"></div>
      </div>
    </div>
  </div>
</div>