<div class="slide slide-two">
  <div id="slide-two-bar-1" class="slide-bar"></div>
  <div class="slide-two-content">
    <h2>What challenges are you facing?</h2>
    <div class="owner-grid">
      <div class="owner-grid__item">
        <div class="cube">
          <div class="side front">
            <img class="large-icon" src="./images/icons/apps.svg"/>
              <div class="card-container">
                <div class="card-subtitle">Application Layer:</div>
                I need to maximize my ability to build and manage my applications and their performance.
              </div>          
            </div>
          <div class="side right">
            <img src="./images/icons/close.svg" class="card-close"/>
            Enterprises need to security connect and manage their geographically distributed business applications, data, and end users.
          </div>
        </div>
      </div>

       <div class="owner-grid__item">
        <div class="cube">
          <div class="side front">
            <img class="large-icon" src="./images/icons/server.svg"/>
              <div class="card-container">
                <div class="card-subtitle">Infrastructure Layer:</div>
                 I need to increase control and visibility of my infrastructure to deliver an optimal cloud strategy.
              </div>          
            </div>
          <div class="side right">
            <img src="./images/icons/close.svg" class="card-close"/>
            To scale and meet their business needs, enterprises are breaking up monolithic legacy applications into agile, service-based cloud applications.
          </div>
        </div>
      </div>


      <div class="owner-grid__item">
        <div class="cube">
          <div class="side front">
            <img class="large-icon" src="./images/icons/network.svg"/>
              <div class="card-container">
                <div class="card-subtitle">Network Layer:</div>
                I need to deploy and manage a network that is as flexible and agile as the cloud itself.
              </div>          
            </div>
          <div class="side right">
            <img src="./images/icons/close.svg" class="card-close"/>
            Enterprises expect flexibility in their underlying network environments to optimize the user experience and ensure smooth application performance.  
          </div>
        </div>
      </div>


    </div>
  </div>
</div>