.button {
  background: $primary-color;
  color: $black;
  cursor: pointer;
  display: inline-flex;
  font-family: Arial, sans-serif;
  font-weight: bold;
  position: relative;
  padding: $default-spacing $default-spacing * 4;
  text-decoration: none;
  transition: all 0.3s ease-out;
  opacity: 0;

  &.disabled {
    background: rgba($white, 0.1);
    pointer-events: none;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    transition: all 0.15s ease-out;
  }

  &:hover {
    &:after {
      height: 100%;
    }
  }
}
