.slide {
  width: 100vw;
  height: 100vh;
  background: $black;
  position: relative;
  // padding: 100px 30px;
}

.slide-covered {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
}

.slide-home {
  background: $black url('../images/backgrounds/home.jpg') no-repeat 0 0;
  background-size: cover;
  background-position: center center;
}

.slide-five {
  background: $black url('../images/backgrounds/1.jpg') no-repeat 0 0;
  background-size: cover;
  background-position: left center;
}

.slide-ten {
  background: $black url('../images/backgrounds/2.jpg') no-repeat 0 0;
  background-size: cover;
  background-position: left center;
}


.slide-fifteen {
  background: $black url('../images/backgrounds/2.jpg') no-repeat 0 0;
  background-size: cover;
  background-position: left center;
}

.intro-slide-content{
  @include column(8/16);
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  font-size: 4.875rem;
  font-family: 'IBM-Plex-Light', Arial, sans-serif;
  padding-left: 60px;
  padding-bottom: 100px;
  opacity: 0;
}

.intro-slide__text {
  @include column(7/8);
}