.slide {
  width: 100vw;
  height: 100vh;
  background: $black;
  position: relative;
  // padding: 100px 30px;
}

.slide-covered {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
}

.slide-home {
  background: $black url('../images/backgrounds/home.jpg') no-repeat 0 0;
  background-size: cover;
  background-position: center center;
}

// .slide-one {
//   background: $black url('../images/backgrounds/3.jpg') no-repeat 0 0;
//   background-size: cover;
//   background-position: left center;
// }

