.slide-navigation {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: calc(100vw - 40px);
  height: 40px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $white;
}

.slide-navigation__indicator {
  width: 30px;
  height: 6px;
  background: $primary-color;
  position: absolute;
  bottom: -3px;
  transition: all 0.3s ease-out;
}

.slide-navigation__logo {
  height: 30px;
}

.slide-navigation__items {
  display: flex;
  flex: 1;
}

.slide-navigation__item {
  font-family: 'Maison-Book', Arial, sans-serif;
  color: $white;
  cursor: pointer;
  font-size: 2rem;
  display: flex;
  text-align: center;
  margin: 0 5px;
  padding: 0 15px;
  user-select: none;
  transition: all 0.3s ease-out;

  &.active {
    color: $primary-color;
  }
}
