.slide {
  width: 100vw;
  height: 100vh;
  position: relative;
  // padding: 100px 30px;
}

.slide-covered {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
}

.slide-home {
  background: $black url('../images/backgrounds/home.jpg') no-repeat 0 0;
  background-size: cover;
  background-position: center center;
}

.slide-one, .slide-two {
  background: black;
}

.slide-three {
  background: $black url('../images/backgrounds/1.jpg') no-repeat 0 0;
  background-size: cover;
  background-position: left center;
}


.data-background {
  background: $black url('../images/backgrounds/circle.gif') no-repeat 0 0;
  background-size: cover;
  background-position: left center;
}

.train-background {
  background: $black url('../images/backgrounds/triangles.gif') no-repeat 0 0;
  background-size: cover;
  background-position: left center;
}

.inference-background {
  background: $black url('../images/backgrounds/circle_fpo.gif') no-repeat 0 0;
  background-size: cover;
  background-position: left center;
}

.slide-six {
  background: $black url('../images/backgrounds/2.jpg') no-repeat 0 0;
  background-size: cover;
  background-position: left center;
}


.slide-nine {
  background: $black url('../images/backgrounds/2.jpg') no-repeat 0 0;
  background-size: cover;
  background-position: left center;
}

.slide-title {
  display: flex;
  align-items: center;
  padding-bottom: 80px;
}

.slide-title__icon {
  opacity: 0;
  transform: scale(0.8);
  width: 100px;
}

.slide-title__text {
  opacity: 0;
  transform: translateX(-30px);
  color: white;
  font-family: 'IBM-Plex-Thin', Arial, sans-serif;
  font-size: 2.57rem;
  line-height: 3.14rem;
  padding-left: 45px;
}

.slide-description {

  color: white;
  font-family: 'IBM-Plex-Thin', Arial, sans-serif;
  font-size: 4.28rem;
  line-height: 5.28rem;
  padding-bottom: 60px;

  div {
    opacity: 0;
  }
}

.slide-description__small {
  color: white;
  font-family: 'IBM-Plex-Thin', Arial, sans-serif;
  font-size: 3rem;
  line-height: 3.57rem;
  padding-bottom: 60px;

  div {
    opacity: 0;
  }
}

.slide-image {
  @include column(3/4);
  opacity: 0;
  transform: translateY(30px);

  img {
    width: 100%;
  }
}

.intro-slide-content{
  @include column(9/20);
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  font-size: 4.875rem;
  line-height: 5.57rem;
  font-family: 'IBM-Plex-Light', Arial, sans-serif;
  padding-left: 60px;
  padding-bottom: 130px;
  opacity: 0;
}

.intro-slide__text {
  @include column(7/8);
}