.slide-navigation {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: calc(100vw - 40px);
  height: 60px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $white;

  &.inactive {
    border-color: transparent;

    .slide-navigation__items {
      opacity: 0;
    }

    .slide-navigation__indicator {
      opacity: 0;
    }
  }
}

.slide-navigation__indicator {
  width: 1px;
  height: 6px;
  background: $primary-color;
  position: absolute;
  bottom: -3px;
  transition: all 1s ease-out;
  opacity: 1;
}

.slide-navigation__logo {
  height: 45px;
}

.slide-navigation__items {
  display: flex;
  flex: 1;
  opacity: 1;
  transition: all 1s ease-out;
}

.slide-navigation__item {
  font-family: 'Maison-Book', Arial, sans-serif;
  color: $white;
  cursor: pointer;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 5px;
  padding: 0 15px;
  user-select: none;
  transition: all 0.3s ease-out;

  img {
    width: 30px;
    height: 30px;
  }

  &.active {
    color: $primary-color;
  }
}
