@font-face {
  font-family: 'IBM-Plex-Light';
  src: url('../fonts/ibmplexsans-light-webfont.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/ibmplexsans-light-webfont.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/ibmplexsans-light-webfont.woff')
      format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'IBM-Plex-Regular';
  src: url('../fonts/ibmplexsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/ibmplexsans-regular-webfont.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/ibmplexsans-regular-webfont.woff')
      format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'IBM-Plex-Medium';
  src: url('../fonts/ibmplexsans-medium-webfont.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/ibmplexsans-medium-webfont.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/ibmplexsans-medium-webfont.woff')
      format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'IBM-Plex-Bold';
  src: url('../fonts/ibmplexsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/ibmplexsans-bold-webfont.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/ibmplexsans-bold-webfont.woff')
      format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'IBM-Plex-Thin';
  src: url('../fonts/ibmplexsans-thin-webfont.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/ibmplexsans-thin-webfont.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/ibmplexsans-thin-webfont.woff')
      format('woff'); /* Pretty Modern Browsers */
}

h1 {
  color: $white;
  font-size: 6.57rem;
  line-height: 8.5rem;
  padding: 0;
  margin-bottom: 60px;
  font-family: 'IBM-Plex-Thin', Arial, sans-serif;
  margin-top: 0;
}

h3 {
  color: $white;
  font-size: 2.28rem;
  line-height: 2.85rem;
  padding: 0;
  margin-bottom: 20px;
  font-family: 'IBM-Plex-Thin', Arial, sans-serif;
  margin-top: 0;
}

h4 {
  color: $white;
  font-size: 4.28rem;
  line-height: 5.28rem;
  padding: 0;
  margin-bottom: 20px;
  font-family: 'IBM-Plex-Thin', Arial, sans-serif;
  margin-top: 0;
}

.body-copy {
  color: white;
  font-size: 1.42rem;
  font-family: 'IBM-Plex-Thin', Arial, sans-serif;
  line-height: 1.85rem;
}

.instruction {
  color: $light-gray;
  font-size: 1.42rem;
  font-family: 'IBM-Plex-Thin', Arial, sans-serif;
  line-height: 1.85rem;
  font-style: italic;
  margin-top: 30px;
}

.bold {
  font-family: 'IBM-Plex-Bold';
}

.attribution {
  color: $light-gray;
  font-size: 1rem;
  margin-top: 45px;
}