@font-face {
  font-family: 'Maison-Light';
  src: url('../fonts/MaisonNeue-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MaisonNeue-Light.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/MaisonNeue-Light.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/MaisonNeue-Light.woff')
      format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'Maison-Book';
  src: url('../fonts/MaisonNeue-Book.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MaisonNeue-Book.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/MaisonNeue-Book.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/MaisonNeue-Book.woff')
      format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'Maison-Medium';
  src: url('../fonts/MaisonNeue-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MaisonNeue-Medium.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/MaisonNeue-Medium.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/MaisonNeue-Medium.woff')
      format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'Maison-Bold';
  src: url('../fonts/MaisonNeue-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MaisonNeue-Bold.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/MaisonNeue-Bold.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/MaisonNeue-Bold.woff')
      format('woff'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'Maison-Extra-Bold';
  src: url('../fonts/MaisonNeue-ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MaisonNeue-ExtraBold.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/MaisonNeue-ExtraBold.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/MaisonNeue-ExtraBold.woff')
      format('woff'); /* Pretty Modern Browsers */
}

h1 {
  color: $primary-color;
  font-size: 6rem;
  padding: 0;
  margin-bottom: 20px;
  font-family: 'Maison-Extra-Bold', Arial, sans-serif;
  margin-top: 0;
}

h2 {
  color: $white;
  font-size: 2rem;
  font-family: 'Maison-Bold', Arial, sans-serif;
}

h3 {
  color: $primary-color;
  font-size: 1.5rem;
  font-family: 'Maison-Bold', Arial, sans-serif;
  margin-top: 0;
}

.light {
  font-family: 'Maison-Book', Arial, sans-serif;
}
