.rows {
  padding-top: 3.5rem;
}

.row {
  color: $white;
  display: flex;
  align-items: center;
  padding: 2.14rem 0;
  border-top: 3px solid $primary-color;
  opacity: 0;
}

.row-image {
  max-width: 6rem;
  // max-height: 6rem;
  display: inline-block;
  flex: 1;
}


.row-content {
  padding-left: 2.84rem;
  font-size: 1.7rem;
  flex: 12;

  @media screen and (min-width: 1400px) {
    font-size: 1.42rem;
  }
}
