.slide-five {
  padding: 100px 150px;
}

.network-partner {
  position: relative;
  z-index: 2;
  display: flex;
  height: 100%;
}

.network-partner__header {
  color: $primary-color;
  font-size: 6rem;
  margin: 0 0 40px;
  opacity: 0;
}

.network-partner__subheader {
  font-size: 2.2rem;
  color: $white;
  opacity: 0;
}

.network-partner__sidebar {
  flex: 1.1;
  display: flex;
  align-items: center;
}

.network-partner__content {
  flex: 2;
  display: flex;
  align-self: center;
}

.network-partner__sidebar__content {
  margin-top: -140px;
  max-width: 400px;
}

.network-partner-pod {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  padding: 0 2.142rem;
  opacity: 0;
}

.network-partner-icon {
  height: 17.85rem;
  padding-bottom: 20px;
}

.network-partner-title {
  color: $white;
  padding-bottom: 10px;
  font-family: 'Maison-Bold', Arial, sans-serif;
  font-size: 2.2rem;
  color: $primary-color;
  width: 100%;
}

.network-partner-description {
  color: $white;
  font-size: 1.5rem;
}
