.slide-four {
  display: flex;
}

.slide-four-content {
  width: 50%;
  font-family: 'Maison-Book', Arial, sans-serif;
  font-size: 1.5rem;
  padding: 3.5rem 8.5rem;
  display: flex;
  flex-direction: column;
  color: $white;

  h2,
  p {
    opacity: 0;
  }

  .slide-pod {
    img {
      width: 87px;
    }
  }
}

.slide-four-image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  opacity: 0;

  img {
    max-width: 80%;
    max-height: 80%;
    display: block;
    position: absolute;
  }
}
