#slide-three-bar-1 {
  left: 0;
}

#slide-three-bar-2 {
  right: 0;
}

.slide-three-content {
  position: absolute;
  right: 0;
  height: 100%;
  padding: 0 8.57rem 8rem;
  width: 46%;
  display: flex;
  flex-direction: column;

  h2 {
    opacity: 0;
  }
}
