<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 23.0.4, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 68.2 61.1" style="enable-background:new 0 0 68.2 61.1;" xml:space="preserve">
<style type="text/css">
	.st0{stroke:#48D597;stroke-width:3;stroke-miterlimit:10;}
</style>
<g id="Home_x5F_s_x5F_m">
	<polygon class="st0 home-icon" points="41.5,53.3 41.5,37.2 29.7,37.2 29.7,59.6 12.5,59.6 12.5,30 3.9,30 35,2 64.4,30 55.2,30 55.2,59.6 
		41.5,59.6 	"/>
</g>
</svg>
