#slide-five-bar-1 {
  left: 0;
}

#slide-five-bar-2 {
  right: 0;
}

.slide-five-content {
  position: absolute;
  right: 0;
  height: 100%;
  padding: 0 8.5rem 8rem;
  width: 46%;
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 10px;
  }

  p {
    color: $white;
    max-width: 550px;
    opacity: 0;

    font-size: 1.7rem;

    @media screen and (min-width: 1400px) {
      font-size: 1.42rem;
    }
  }
}

p.slide-five-subtitle {
  color: $primary-color;
  font-size: 2.2rem;
}
